/* #region general*/
body{
    font-family: "Roboto",
        sans-serif;
    line-height: 1.5;
    color: #434455;
    background-color: #FFFFFF;
}
ul, ol{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
h1, h2, h3, h4, h5, h6, p{
    margin: 0;
}
button{
    cursor: pointer;
}
.container{
    max-width: 1158px;
    padding: 0 15px;
    margin: 0 auto;

}
.section {
    padding-top: 120px;
    padding-bottom: 120px;
}
/* #endregion */
/* #region header */
.page-header{
    border-bottom: 1px solid #e7e9fc;
}
.header-container{
    display: flex;
    align-items: center;
}
.nav-header{
    display: flex;
    align-items: center;
}

.logo{
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #2e2f42;
}
.logo-header{
    padding: 24px 0;
    margin-right: 76px;
}
.logo-header .logo-part{
    color: #4d5ae5;
}
.nav-list{
    display: flex;
    align-items: center;
    gap: 40px;
}
.nav-link{
    display: block;
    padding: 24px 0;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #2e2f42;
}

.nav-link:hover, .nav-link:focus, .address-link:hover, 
.address-link:focus{
    color: #404bbf;
}
.address-menu{
    margin-left: auto;
}
.address-list{
    display: flex;
    align-items: center;
    gap: 40px;
}
.address-link{
    display: block;
    padding: 24px 0;
    font-style: normal;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
/* #endregion */
/* #region hero */
.hero-container{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.hero{
    background-color: #2e2f42;
    padding-top: 188px;
    padding-bottom: 188px;
}
.hero-title{
    width: 496px;
    margin-bottom: 48px;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
}
.hero-btn{
    border: none;
    border-radius: 4px;
    padding: 16px 32px;
    background-color: #4d5ae5;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color:#fff;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
}
.hero-btn:hover,
.hero-btn:focus{
    background-color: #404bbf;
}
/* #endregion */
/* #region benefits */
.visually-hidden{
    position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.benefits-list{
    display: flex;
    justify-content: space-between;
}
.benefits-item{
    width: calc((100% - 3 * 24px) / 4);
}
.benefits-subtitle{
    margin-bottom: 8px;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}
.benefits-text{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
/* #endregion */
/* #region team */
.team{
    background-color: #f4f4fd;
}
.team-title{
    margin-bottom: 72px;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
}
.team-list{
    display: flex;
    justify-content: space-between;
}
.team-item{
    width: calc((100% - 3 * 24px) / 4);
    background-color: #fff;
    border-radius: 0 0 4px 4px;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}
.team-img{
  display: block;
}
.team-text-wrap{
    padding: 32px 16px;
}
.team-name{
    margin-bottom: 8px;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
}
.team-text{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
}
/* #endregion */
/* #region portfolio */
.portfolio-title{
    padding-bottom: 72px;
        font-size: 36px;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2e2f42;
}
.portfolio-list{
    display: flex;
    flex-wrap: wrap;
    gap: 48px 24px;
}
.portfolio-item{
 width: calc((100% - 2 * 24px) /3 );
}
.portfolio-img{
    display: block;
}
.portfolio-text-wrap{
    padding: 32px 16px;
    border-bottom: 1px solid #e7e9fc;
    border-left: 1px solid #e7e9fc;
    border-right: 1px solid #e7e9fc;
}
.portfolio-subtitle{
margin-bottom: 8px;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}
.portfolio-text{
    letter-spacing: 0.02em
}
/* #endregion */
/* #region footer */
.footer-container{
    display: flex;
    flex-direction: column;
}
.footer{
    padding: 100px 0;
    background-color: #2e2f42;
}
.logo-footer{
    margin-bottom: 16px;
    width: 115px;
    font-family: "Raleway",sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #f4f4fd;
}
.logo-footer .logo-part{
    color: #4d5ae5;
}
.footer-text{
    width: 264px;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
}
/* #endregion */